<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragment::header ('Furnitures')">
</head>
<body class="bg-body" >
<nav th:replace="fragments/main_fragment::navbar"></nav>
<div class="bg-dark custom-layout mt-2 mx-auto">
	<div><h2 class="mx-auto custom-font">Furnitures</h2></div>
	<div>
	<div class="scroll-table" id="main-table">
		<table class="table table-dark">
  			<thead class="thead-dark">
    			<tr>
      				<div><th scope="col" class="tmark">Article</th></div>
      				<div><th scope="col" class="tmark">Name</th></div>
      				<div><th scope="col" class="tmark">Unit</th></div>
      				<div><th scope="col" class="tmark">Amount</th></div>
      				<div><th scope="col" class="tmark">Supplier</th></div>
      				<div><th scope="col" class="tmark">Type</th></div>
      				<div><th scope="col" class="tmark">Price</th></div>
      				<div><th scope="col" class="tmark">Weight</th></div>
      				<div><th scope="col" class="tmark">Image</th></div>
      				<div><th scope="col">Action</th></div>

    			</tr>
  			</thead>
  			<div class="container">
  			<tbody>
    			<tr>
					<td:block th:each="furniture:${furnitures}">
			    	<td th:text="${furniture.article}"></td>
			    	<td th:text="${furniture.product_name}"></td>
			    	<td th:text="${furniture.unit}"></td>
			    	<td th:text="${furniture.amount}"></td>
			    	<td th:text="${furniture.main_supplier.supplier_name}"></td>
			    	<td th:text="${furniture.furniture_type}"></td>
			    	<td th:text="${furniture.purchase_price}"></td>
			    	<td th:text="${furniture.weight}"></td>
			    	<td><a th:href="@{|/tables/furnitures/${furniture.article}|}" th:if="${furniture.image}">Photo</a></td>

			    	<td><img src=""></td>
			    	<td id="1"><div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary btn-ed-del" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit</button>
						  <button type="button" class="btn btn-secondary btn-ed-del">Delete</button>
						</div></td>	
   				</tr>
 
   				</tr>
  			</tbody>
  		</div>
		</table>
	</div>

	<button type="button" class="btn btn-secondary btn-add">Add new row</button>
	</div>
</div>

	<script type="text/javascript" src="main_script.js"></script>

</body>
</html>
