<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragment :: header ('Specification_furniture')")>
	<title>Основная форма</title>

</head>
<body  class="bg-body">

<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel1">Edit row</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="placeElem1" enctype="multipart/form-data">
					<div class="form-group hidden-el">
						<label for="id" class="col-form-label">id</label>
						<input id="id" type="text" class="form-control tinput" name="id">
					</div>

					<div class="form-group">
						<label for="product_type_name1" class="col-form-label">product_type_name</label>
						<input id="product_type_name1" type="text" class="form-control tinput" name="product_type_name">
					</div>
					<div class="form-group">
						<label for="furniture1" class="col-form-label">furniture</label>
						<input id="furniture1" type="text" class="form-control tinput" name="furniture">
					</div>
					<div class="form-group">
						<label for="amount1" class="col-form-label">amount</label>
						<input id="amount1" type="text" class="form-control tinput" name="amount">
					</div>


					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
</div>

<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel2">Delete this row?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="placeElem2">
					<div class="modal-footer" id="placeBefore">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Delete</button>
						<input type="text" name="id" value="" class="hidden-el">
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">S
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel3">Add new row</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="placeElem3" enctype="multipart/form-data">
					<div class="form-group">
						<span class="tinput"></span>
					</div>

					<div class="form-group">
						<label for="product_type_name3" class="col-form-label">product_type_name</label>
						<input id="product_type_name3" type="text" class="form-control tinput" name="product_type_name">
					</div>
					<div class="form-group">
						<label for="furniture3" class="col-form-label">furniture</label>
						<input id="furniture3" type="text" class="form-control tinput" name="furniture">
					</div>
					<div class="form-group">
						<label for="amount3" class="col-form-label">amount</label>
						<input id="amount3" type="text" class="form-control tinput" name="amount">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>


		</div>

	</div>
</div>
</div>

<th:block th:replace="fragments/main_fragment :: navbar">

</th:block>
<div class="bg-dark custom-layout mt-2 mx-auto">
	<div><h2 class="mx-auto custom-font">Specification_furniture</h2></div>
	<div>

	<div class="scroll-table" id="main-table">
		<table class="table table-dark">
  			<thead class="thead-dark">
    			<tr>
					<div><th scope="col" class="tmark">ID</th></div>
					<div><th scope="col" class="tmark">Product_Type</th></div>
					<div><th scope="col" class="tmark">Furniture_type</th></div>
					<div><th scope="col" class="tmark">amount</th></div>
					<div><th scope="col">Action</th></div>

    			</tr>
  			</thead>
  			<div class="container">
  			<tbody>
				<th:block th:each="spec_furn:${spec_furns}">
					<tr>
						<td th:text="${spec_furn.id}?:''"></td>
						<td th:text="${spec_furn.product_type.product_type_name}?:''"></td>
						<td th:text="${spec_furn.furniture} ?:''"></td>
						<td th:text="${spec_furn.amount} ?:''"></td>
						<td><div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-secondary btn-ed" data-toggle="modal" data-target="#modal_edit" data-whatever="@mdo">Edit</button>
							<button type="button" class="btn btn-secondary btn-del" data-toggle="modal" data-target="#modal_delete" data-whatever="@mdo">Delete</button>
						</div></td>
					</tr>
				</th:block>
  			</tbody>
  		</div>
		</table>
	</div>
		<button type="button" class="btn btn-secondary btn-add" data-toggle="modal" data-target="#modal_add" data-whatever="@mdo">Add new row</button>
	</div>
</div>

<script type="text/javascript" th:src="@{/js/users_script.js}"></script>
<!--<footer th:replace="fragments/main_fragment::footer">
</footer>-->
</body>
</html>
